<%# 'Tasks' have details %>
<div class="container-tasks">
  <%= render "tasks/tasks", tasks: @tasks %>
</div>

<div class="container-notes">
  <%= render "tasks/new_notes", new_task: @new_task %>
  <hr>

  <%# 'Notes' are new tasks with content but no details %>
  <h2>Notes</h2>
  <% @new_tasks.each do |task| %>
    <div>
      <input type="checkbox">
      <%= render "tasks/update_form", task:task %>
      <hr>
    </div>
  <% end %>
</div>
