<%# 'Tasks' with details %>
<div class="container-tasks">
  <h2 class="section-title m-0">Tasks</h2>
  <%= render "tasks/tasks", tasks: @tasks %>
</div>

<%# New tasks entered as rough notes %>
<div class="container-notes-col">
  <%= render "tasks/new_notes", new_task: @new_task %>

  <%# Notes that need details from user %>
  <div class="container-notes-details">
    <h2 class="section-title">Notes</h2>
    <%= render "tasks/notes", new_tasks: @new_tasks %>
  </div>
</div>
