<h1>Tasks: Home</h1>
Add a new note
  <%= form_with model: @task, url: tasks_path do |form| %>
    <div>
      <%= form.label :content %>
      <%= form.text_field :content, required: true %>
    </div>
    <%= form.submit "Create Task" %>
  <% end %>
<%#

    t.text "content"
    t.string "name"
    t.date "due_date"
    t.integer "importance", default: 0
    t.integer "difficulty", default: 0
    t.string "reason"
    t.string "contact"
    t.boolean "completion", default: false
    t.text "content_original"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false %>


<hr>
