<h1>Tasks: Home</h1>
<hr>
<% @tasks.each do |task| %>
  <div class="border border-rounded w-80">
    <h3><%= task.name %> (<%= task.importance %>)</h3>
    <p><%= task.content %></p>
    <p>Due in <%= (task.due_date - Date.today).to_i %> days</p>
    <hr>
  </div>
<% end %>
