div.div-subtask {
  margin-bottom: 4px;
  height: 3rem;
  border-radius: 8px;
}

p.subtask-text {
  margin: 0;
  font-size: 0.8rem;
  color: $light-gray;
}

.edit_subtask {
  width: 100%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
}

i.subtask-checker {
  font-size: 1.5rem;
  opacity: 50%;
}
