.task-name {
  &:hover {
    background-color: $light-blue;
    font-weight: 500;
    color: $light-gray;
  }
}

.task-name-text {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.task-btn {

}
